.container {
  display: flex;
  flex-direction: column;
}

/* */

.header {
  width: 700px;
  margin: auto;
}

.navLeft {
  float: left;
  width: 49%;
}

.navRight {
  float: right;
  width: 49%;
  text-align: right;
}

/* */

.home {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
}

.home h3 {
  margin: 0px;
}

.home p {
  margin: 0.75em 0;
}

/* */

.dashboard {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
}

.message {
  background: #eee;
  margin-bottom: 10px;
  padding: 2px;
}

/* */

.settings {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
}

/* */

.submitPage {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
}

.profileView {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  margin: 5px auto;
  padding: 2px;
  max-width: 400px;
  background: white;
}

.askBox {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
}

.askBox textarea {
  padding: 10px;
  outline: none;
  border: 2px solid green;
  border-radius: 5px;
  font-family: sans-serif;
  width: 400px;
  /*
  font-size: 1.2em;
  */
}

.askBox textarea:focus {
  outline: none;
  margin: auto;
  border: 3px solid green;
}
